{
    "env": {
        "es6": true
    },
    "parser": "babel-eslint",
    "extends": ["standard"],
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
    },
    "globals": {
        "graphql": false
    },
    "plugins": [
        "filenames", "babel", "import"
    ],
    "rules": {
        "babel/func-params-comma-dangle": "off",
        "camelcase": "off",
        "comma-dangle": ["error", "always-multiline"],
        "curly": "off",
        "generator-star-spacing": "off",
        "import/export": "error",
        "import/imports-first": "error",
        "import/named": "error",
        "import/no-duplicates": "error",
        "import/no-mutable-exports": "error",
        "import/no-named-as-default": "error",
        "import/no-named-as-default-member": "error",
        "indent": "off",
        "no-duplicate-imports": "off",
        "no-mixed-operators": "off",
        "object-curly-spacing": ["error", "never"],
        "space-before-function-paren": "off",
        "standard/array-bracket-even-spacing": "off",
        "standard/computed-property-even-spacing": ["error", "never"],
        "standard/no-callback-literal": "off",
        "standard/object-curly-even-spacing": ["error", "never"],
        "strict": ["error", "global"],
        "yield-star-spacing": "off"
    }
}
