# Ignore all javascript files in the directory root as they are output from
# the babel build.
# Build will place gatsby-node.js at the directory root
/*.js
/index.js

node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

